<li>
    <a href="javascript:void(0)"><i class="fa fa-calculator  fa-fw"></i> Estimations<i class="fa arrow"></i></a>
    <ul class="nav nav-second-level">
    <% if current_user.user_type == 'admin'|| current_user.user_type == 'secretary' || current_user.user_type == 'regular' %>
        <li>
            <a href="javascript:void(0)" ng-click="getEstimationAdd()">Add Estimations</a>
        </li>
        <li>
            <a href="javascript:void(0)" ng-click="getEstimationView()">View Estimations</a>
        </li>
        <li>
            <a href="javascript:viod(0)" ng-click="getJobOrderView()">View Job Order</a>
        </li>
    <% elsif  current_user.user_type == 'co-owner' %>
        <li>
            <a href="javascript:void(0)" ng-click="getEstimationView()">View Estimations</a>
        </li>
    <% end %>
    </ul>
    <!-- /.nav-second-level -->
</li>