 <div class="main-wrapper col-lg-12">
    <h1 class="page-header">Dashboard</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="content dashboard">
               <h3>Coming Soon</h3>
            </div>
        </div>
    </div>
</div>