<div class="main-wrapper col-lg-12" >
  <h1 class="page-header">Add Estimation</h1>
  <div class="row">
      <div class="col-md-12" id="job-order-form-wrapper">
      <form ng-submit="previewEstimation()">
          <div class="content" id="job-order">
              <div class="panel panel-default">
                  <div class="panel-heading overflow">
                        <div class="col-md-4"><h4>Customer Details</h4></div>
                        <div class="col-md-4 col-md-offset-4">
                          <div class="form-group">
                            <select 
                                class="existing_customer_lists_wrapper form-control"
                                style="margin-top:15px;" 
                                ng-model="customer.fullname" 
                                ng-options="list.fullname for list in customerLists"
                                ng-change="submitCustomerQuery(customer.fullname)">
                            </select>
                          </div><!-- /input-group -->
                        </div>
                  </div>
                    <div class="panel-body">
                        <div class="form-info customer-details">
                              <div class="row" ng-hide="noCustomerExist">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Full Name:</label>
                                          <input type="text" class="form-control" ng-model="jobOrderInfo.fullname" placeholder="Customer Full name ">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Contact Number:</label>
                                          <input type="text" class="form-control" ng-model="jobOrderInfo.contact_no" placeholder="Customer Number">
                                      </div>
                                  </div>
                              </div>
                              <div class="row" ng-hide="noCustomerExist">
                                  <div class="col-md-12">
                                      <div class="">
                                          <label>Address</label>
                                          <textarea class="form-control" rows="5" ng-model="jobOrderInfo.address" placeholder="Customer Address"></textarea>
                                      </div>
                                  </div>
                              </div>

                              <!-- Display if customer exists -->
                              <div class="row" ng-show="customerExist">
                                  <div class="col-md-6">
                                      <div class="form-group" style="margin:0;">
                                          <input type="hidden" ng-model="jobOrderInfo.id">
                                      </div>
                                      <div class="form-group">
                                          <label>Full Name:</label>
                                          <p ng-bind="userInfo.fullname" class="text-primary"></p>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label>Contact Number:</label>
                                          <p ng-bind="userInfo.contact_no" class="text-primary"></p>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group text-right">
                                          <label><a href="javascript:void(0)" ng-click="addCustomerInfoManually()">Cancel</a></label>
                                      </div>
                                  </div>
                              </div>
                              <div class="row" ng-show="customerExist">
                                  <div class="col-md-12">
                                      <div class="">
                                          <label>Address</label>
                                          <p ng-bind="userInfo.address" class="text-primary"></p>
                                      </div>
                                  </div>
                              </div>
                              <!-- end: Display if customer exists -->


                        </div>
                  </div>
              </div> 

              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4>Car Details</h4>
                  </div>
                  <div class="panel-body">
                      <div class="form-info customer-details">
                          
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Car Model:</label>
                                          <input type="text" class="form-control" ng-model="jobOrderInfo.car_model" placeholder="Car Model">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Car Brand:</label>
                                          <input type="text" class="form-control" ng-model="jobOrderInfo.car_brand" placeholder="Car Brand">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Plate Number:</label>
                                          <input type="text" class="form-control" ng-model="jobOrderInfo.plate_no" placeholder="Plate Number">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Color:</label>
                                          <input type="text" class="form-control" ng-model="jobOrderInfo.color" placeholder="Color Description">       
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Chasis Number:</label>
                                          <input type="text" class="form-control" ng-model="jobOrderInfo.chasis_no" placeholder="Chasis Number">       
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Engine Type:</label>
                                          <input type="text" class="form-control" ng-model="jobOrderInfo.engine_type" placeholder="Engine Type">       
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div> 

              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4>Job Details</h4>
                  </div>
                  <div class="panel-body">
                      <div class="form-info customer-details">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="row">
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                  <label>Service</label>
                                                  <select 
                                                    class="form-control"
                                                    ng-model="jobOrderInfo.service_name" 
                                                    ng-options="list.service_name for list in serviceList"
                                                    ng-change="displayService(jobOrderInfo.service_name)">
                                                    <option value="" class="text-center">--- Select Service ---</option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row" ng-show="showServiceStatus">
                                        <div class="col-md-4 service_box remove-padding-right" ng-repeat="service in selectedServices">
                                          <div class="alert alert-{{service.class}} services-list overflow" >
                                            <div class="head-tab"><b><span ng-bind="service.service_name"></span></b> 
                                              <div class="btn-wrapper pull-right">
                                                <a class="btn-xs btn btn-primary" ng-click="saveToModalAdd(service)" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-plus"></i></a>
                                                <a class="btn-xs btn btn-danger" ng-click="removeSelectedService(service)" data-toggle="tooltip" data-placement="right" title="Remove Service"><i class="fa fa-times"></i></a>
                                              </div>
                                            </div>
                                            <div class="listServiceDetails" ng-model="totalPerBox">
                                              <ul class="list-unstyled list-of-service-desc" id="{{service.randomID}}">
                                                <li ng-repeat="list in servicePushToBox" ng-if="service.randomID == list.randomID">
                                                  <span ng-bind="list.description"></span>
                                                  <div class="pull-right" ng-init="totalPerBox = totalPerBox + list.amount">
                                                    P <span ng-bind="list.amount"></span> 
                                                  </div>
                                                </li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">  
                                              <hr>
                                              <label>Total Service Amount : </label>
                                              <span class="text-primary">P <span ng-bind="totalServiceAmountDetailPerBox"></span></span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div> 

              <!-- Parts Needed Panel -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4>Parts Needed</h4>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-md-4">
                              <select 
                                  multiple="multiple"
                                  class="inventory-parts-list form-control"
                                  ng-model="jobOrderInfo.part_needed" 
                                  ng-options="list.product_name for list in inventoryStocksLists"
                                  ng-change="displaySelectedParts(jobOrderInfo.part_needed)">
                              </select>
                          </div>
                      </div>
                      
                      <div class="cols-md-12 selected_wrapper">
                          <table class="table">
                              <thead>
                                  <th>Selected Parts</th>
                                  <th style="width: 205px;">Total Quantity in Inventory</th>
                                  <th>SRP</th>
                                  <th>Quantity</th>
                                  <th>Total (PHP)</th>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="part in partsLists">
                                      <td ng-bind="part.product_name"></td>
                                      <td><span ng-bind="part.quantity"></span></td>
                                      <th>Php <span ng-bind="part.price"></span></th>
                                      <td>
                                        <input 
                                          placeholder="Enter quantity" 
                                          type="number" 
                                          ng-model="parts_quantity" 
                                          ng-change="calculateTotalAmount(part.price,parts_quantity,$index,part.id,part)" 
                                          class="form-control" 
                                          min="1" 
                                          max="{{part.quantity}}">
                                      </td>
                                      <td>
                                        <span class="text-primary">
                                        </span>
                                        <div ng-if="part.quantity >= parts_quantity">
                                          Php <span class="text-primary" ng-bind="singlePartAmount[part.id]"></span>
                                        </div>
                                        <div ng-show="quantityVal[part.id]" class="text-danger">
                                          <p>Invalid quantity. </p>
                                          <p>Exceeds the maximum</p>
                                        </div>

                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      
                  </div>

              </div>


              <!-- Payment Type Panel -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4>Payment Method</h4>
                  </div>
                  <div class="panel-body">
                      <div class="form-inline">
                          <p>Select Payment Method:</p>
                          <div class="form-group">
                              <label style="width:150px;">
                                    <input type="radio" ng-model="jobOrderInfo.payment_method" name="payment_type" value="personal">
                                    Personal
                              </label>
                          </div>    
                          <div class="form-group">
                              <label style="width:150px;">
                                    <input type="radio" ng-model="jobOrderInfo.payment_method" name="payment_type" value="insurance">
                                    Insurance
                              </label>
                          </div>    
                      </div>
                  </div>
                 <input type="submit" class="btn btn-primary" style="margin-bottom:20px;margin-left:15px" value="Preview Estimation">                 
              </div>


<!-- 
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4>Payment Type</h4>
                  </div>
                  <div class="panel-body">
                      <div class="payment-type">
                        <div class="form-group">
                          <label>Select Payment Method:</label>
                        </div>
                        <div class="form-group" style="display:inline-block;margin-right:25px;">
                          <label>
                            <input type="radio" ng-model="content" ng-change="setPaymentType('personal')" name="payment-type" value="personal">
                            Personal
                          </label>
                        </div>
                        <div class="form-group" style="display:inline-block;margin-right:25px;">
                          <label>
                            <input type="radio" ng-model="content" ng-change="setPaymentType('insurance')" name="payment-type" value="insurance">
                            Insurance
                          </label>
                        </div> -->
                        <!--div class="form-group" style="display:inline-block;margin-right:25px;">
                          <label>
                            <input type="radio" ng-model="content" name="payment-type" value="both">
                            Personal &amp; Insurance
                          </label>
                        </div--> 
                       <!--  <hr>

                      </div>

                      <div class="col-md-6" ng-show="content == 'personal'">
                          <div class="form-group">
                            <label>Type</label><br>
                            <label style="margin-right: 25px;"><input name="paymentType" ng-model="jobOrderInfo.type" type="radio" value="fullpayment"> Full Payment</label>
                            <label style="margin-right: 25px;"><input name="paymentType" ng-model="jobOrderInfo.type" type="radio" value="downpayment"> Downpayment</label>
                          </div>
                          <div class="form-group">
                            <label>Total Amount to be paid:</label>
                            <input name="paymentType" type="number" ng-model="totalServiceAmountDetailPerBox" placeholder="Total Amount" class="form-control">
                          </div>
                          <div class="form-group">
                            <label>Customer Payment balance:</label>
                            <input name="paymentType" type="number" ng-model="jobOrderInfo.amount_paid" placeholder="Amount Paid" class="form-control">
                          </div>
                      </div>

                      <div class="col-md-6" ng-show="content == 'insurance'">
                          <div class="form-group">
                            <input name="paymentType" type="text" ng-model="jobOrderInfo.insurance_company" placeholder="Insurance Company Name" class="form-control">
                          </div>
                          <div class="form-group">
                            <textarea name="paymentType"  ng-model="jobOrderInfo.insurance_description" placeholder="Desciption" class="form-control" rows="5"></textarea>
                          </div>
                          <div class="form-group">
                              <label>Covered Parts:</label>
                              <div class="input-group">
                                <input type="text" ng-model="jobOrderInfo.covered_parts" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                  <a class="btn btn-info" type="button">Add</a>
                                </span>
                              </div>
                          </div>
                           <div class="form-group">
                            <label>Total Amount to be paid:</label>
                            <input name="paymentType" ng-model="jobOrderInfo.covered_parts_amount" type="number" value="0" placeholder="Total Amount" class="form-control">
                          </div>
                      </div>

                      <div class="col-md-6" ng-show="content == 'both'">
                          <div class="form-group">
                            <label>Type</label><br>
                            <label style="margin-right: 25px;"><input type="radio"  value="downpayment"> Downpayment</label>
                            <label style="margin-right: 25px;"><input type="radio"  value="fullpayment"> Full Payment</label>
                          </div>
                          <div class="form-group">
                            <input name="paymentType" type="number" placeholder="Amount Paid" class="form-control">
                          </div>
                          <div class="form-group">
                            <input name="paymentType" type="number" placeholder="Total Amount" class="form-control">
                          </div>
                      </div>

                  </div>

                    <input type="submit" class="btn btn-primary" style="margin-bottom:20px;margin-left:15px" value="Save Job Order">
              </div>  -->
        </form>
        </div>
      </div>
  </div>
</div>
  </div>
</div>


<!-- Modal for add service details -->
<div class="modal fade bs-example-modal-sm" id="modal-add-service-detail" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        Add Service Detail <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        
        <div class="addServiceInfo">
           <div>
           
              <form ng-submit="insertServiceDetails(serviceDetails , serviceDataToModal)">
                <div class="form-group">
                    <input type="hidden" ng-model="serviceDataToModal.randomID">
                    <input type="hidden" ng-model="serviceDataToModal.service_id">
                    <input required type="text" class="form-control" ng-model="serviceDetails.description" placeholder="Description" style="margin-bottom:5px;">
                    <input required type="number" class="form-control" ng-model="serviceDetails.amount" placeholder="Service Amount" style="margin-bottom:5px;">
                    <hr>
                    <div class="form-group text-right">
                        <button class="btn btn-success">Add Service</button>
                    </div>
                </div>
              </form>
            
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Preview Estimation and print -->
<div class="main-wrapper col-lg-12" id="preview-estimation-wrapper" hidden>
    <h1 class="page-header" id="preview-estimation">Estimation Preview 
    <div class="pull-right">
      <button class="btn btn-danger" ng-click="backToForm()"><i class="fa fa-arrow-left"></i>&nbsp; Back</button>
      <button class="btn btn-default" ><i class="fa fa-download"></i>&nbsp; Print and Save Estimation</button>
      <button class="btn btn-success" ng-click="submitJobOrder()"><i class="fa fa-floppy-o"></i>&nbsp; Save Estimation</button>
    </div>
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="preview-wrapper">
                <!-- Heading Preview -->
                <div class="estimation-heading-preview">
                    <div class="preview-default-heading">
                        <div class="image-heading"></div>
                        <div class="branding-name">
                            <div>Car Focus <small>Auto Shop</small></div>
                        </div>
                        <div class="contact-info">
                            <p>Abellanosa Street, Consolaction, CDOC</p>
                            <p>Telephone No. : (088)324-0607</p>
                            <p>Mobile No. : 0935-2658-548 / 0923-6488-371</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="estimation-label">For the account of <span class="pull-right">: </span></label>&nbsp;
                            <div style="display:inline-block" class="estimation-info" ng-bind="jobOrderInfo.fullname"></div>
                        </div>
                        <div class="col-md-6">
                            <label class="estimation-label">Date <span class="pull-right">: </span></label>&nbsp;
                            <div style="display:inline-block" class="estimation-info" ng-bind="jobOrderInfo.transaction_date"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="estimation-label">Unit/Description <span class="pull-right">: </span></label>&nbsp;
                            <div style="display:inline-block" class="estimation-info">
                                 <span ng-bind="jobOrderInfo.car_model"></span>&nbsp;<span ng-bind="jobOrderInfo.car_brand"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="estimation-label">Plate No. <span class="pull-right">: </span></label>&nbsp;
                            <div style="display:inline-block" class="estimation-info" ng-bind="jobOrderInfo.plate_no">ZTB-184</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="estimation-label">Chasis No. <span class="pull-right">: </span></label>&nbsp;
                            <div style="display:inline-block" class="estimation-info" ng-bind="jobOrderInfo.chasis_no"></div>
                        </div>
                        <div class="col-md-6">
                            <label class="estimation-label">Engine Type <span class="pull-right">: </span></label>&nbsp;
                            <div style="display:inline-block" class="estimation-info" ng-bind="jobOrderInfo.engine_type"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="estimation-label">Color(s) <span class="pull-right">: </span></label>&nbsp;
                            <div style="display:inline-block" class="estimation-info" ng-bind="jobOrderInfo.color"></div>
                        </div>
                    </div>
                </div>
                <!--  Body Preview -->
                <div class="estimation-body-preview">
                    <table class="table">
                          <thead>
                              <th>Services</th>
                              <th>Details</th>
                              <th>Total</th>
                          </thead>
                          <tbody>
                              <tr ng-repeat="service in jobOrderInfo.service_name">
                                  <td ng-bind="service.service_name"></td>
                                  <td>
                                      <ul class="list-unstyled">
                                          <li ng-repeat="service_detail in jobOrderInfo.job_details" 
                                              ng-if="service_detail.service_id == service.service_id"
                                              ng-bind="service_detail.service_description"
                                          ></li>
                                      </ul>
                                  </td>
                                  <td>
                                      Php <span class="text-info" ng-bind="service.boxTots"></span>
                                  </td>
                              </tr>  
                              
                              <!-- Total Service Charge -->
                              <tr style="height: 90px;">
                                  <td colspan="2"><b>Total Service Charge</b></td>
                                  <td><b class="text-primary">Php <span ng-bind="totalServiceAmountDetailPerBox"></span></b></td>
                              </tr>
                              <tr>
                                  <th>Parts</th>
                                  <th>Quantity</th>
                                  <th>Amount</th>
                              </tr> 
                              <tr ng-repeat="part in partsLists">
                                  <td ng-bind="part.product_name"></td>
                                  <td>
                                      <span class="text-info" ng-bind="part.selectedAmountQuantity"></span>
                                  </td>
                                  <td ng-init="PreviewCalculateTotalAmount(part.price,parts_quantity,$index,part.id,part)" >
                                      <span class="text-info" ng-bind="singlePartAmount[part.id]"></span>
                                  </td>
                              </tr> 
                              <!-- Parts Needed -->
                              <tr>
                                  <td colspan="2"><b>Total Parts Needed Amount</b></td>
                                  <td><b class="text-primary">Php <span ng-bind="totalPartAmount"></span></b></td>
                              </tr>
                          </tbody>
                    </table>

                    <div class="total-estimation-amount row" style="margin-bottom:20px">
                        <div class="col-md-6">
                            <p><label>Total Estimation Amount:</label></p>
                        </div>
                        <div class="col-md-6 text-center" style="padding-right:15%;">
                            <p><strong>Php <span class="text-primary" ng-bind="totalEstimationAmount"></span></strong></p>
                        </div>
                    </div>  
                    <div class="horizontal-dotted-separator"></div>
                    <div class="conditions" style="margin-top:40px;">
                        <h4>Conditions</h4>
                        <ol class="list-unstyled" style="list-style-type:decimal;padding-left:35px;">
                            <li>Prices Qouted are subject to without prior notice.</li>
                            <li>Price good for 15 days only</li>
                            <li>Any additional damage or parts discovered in the course of repair are subject to additional charges</li>
                            <li>The owner allows test drive of his vehicle by authorized  drivers for testing and inspection purposes</li>
                            <li>Not valid as court evidence</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>