<div class="main-wrapper col-lg-12">
<h1 class="page-header">View Estimation</h1>
<div class="row">
    <div class="col-md-12">
        <div class="content estimation">
            <div class="col-md-12 form-direct-purchase">
               <div class="direct-purchase-fields">
                   <div class="item-list">
                        <table class="table table-hover table-condense table-bordered" id="dataTables-estimations">
                            <thead>
                                <tr>
                                    <th>Personnel Name</th>
                                    <th>Plate No.</th>
                                    <th>Activity</th>
                                    <th>Service/s</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <% if User.current_user.user_type == 'admin'|| User.current_user.user_type == 'secretary'%>
                                    <th>Action</th>
                                    <% end %>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jocelyn dela Cruz</td>
                                    <td>ABC-123</td>
                                    <td>Added Estimation</td>
                                    <td>Painting, Tinsmith</td>
                                    <td>4500</td>
                                    <td>June 25, 2015</td>
                                    <% if User.current_user.user_type == 'admin'|| User.current_user.user_type == 'secretary'%>
                                    <td>
                                        <a href="#"><label class="label label-primary"><i class="fa fa-edit"></i> Edit</label></a>
                                        <a href="#"><label class="label label-danger"><i class="fa fa-trash"></i> Remove</label></a>
                                    </td>
                                    <% end %>
                                </tr>
                            </tbody>
                        </table>
                    </div>
               </div>
           </div>
        </div>
    </div>
</div>
</div>